.presentation-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation-right {
    flex-direction: row-reverse;
}

.presentation-text {
    padding: 20px;
    margin: 2em;
}

.presentation-text p {
    font-size: 25px;
    float: right;
}

.presentation-text h2 {
    text-align: center;
    font-size: 60px;
}

.presentation-div img {
    margin: 2em;
}