body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* adventure */

.adventure-div {
  background-color: #d6cebd;
  display:block;
  padding:50px;
  text-align: center;
}

.adventure-button {
  background-color: #243e2c;
  border: 1px solid #243e2c;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

.adventure-button:hover {
  background-color: rgba(0,0,0,0);
  color: #243e2c;
}

/* features */

.features-div {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
}

.feature-div {
  padding: 20px;
  width: 25%;
}

.feature-title {
  font-family: "Roboto Slab", serif;
  margin:12px;
}

.feature-img {
  width: 75px;
}

.feature-div p {
  font-family: "Roboto Condensed";
  margin:4px;
  color: #8f8f8f;
}

@media screen and (max-width: 800px) {
  .features-div {
    flex-direction: column;
    align-items: center;
  }

  .feature-div {
    width: 75%;
  }
}

/*slideshow*/
.slideshow-div {
  background-color: #d6cebd;
}

.slideshow-slide {
  display: none;
  text-align: center;
  padding: 50px;
}

.slideshow-div {
  position: relative;
  margin: 0;
  padding: 0;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slideshow-text {
  color: #243E2C;
  font-size: clamp(18px,4vw,28px);
  padding: 14px 12px;
  top: 8px;
  text-align: center;
}

.slideshow-icon {
  max-width: 100px;
  width: 14%;
  border-radius:50%;
  vertical-align: middle;
}

.slideshow-author {
  font-size: 22px;
  bottom: 8px;
  font-style:italic;
}

/* Letter from Scoutmaster */
.scoutmaster-div {
  display:block;
  padding:50px;
  padding-left: 15%;
  padding-right: 15%;
  text-align:center;
}

.scoutmaster-title {
  color: #243E2C;
  font-weight: lighter;
}

.scoutmaster-textarea {
  text-align: left;
  color: #8f8f8f;
  font-family: "Roboto Slab", serif;
}

.scoutmaster-icon {
  padding:24px;
  width: clamp(60px,15vw,120px);
  border-radius: 50%;
}

.scoutmaster-author {
  margin: 0;
  padding: 6px 4px;
  font-style: italic;
  font-weight: lighter;
}

/* footer */

footer {
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
}

.footer-link {
  margin: 20px;
}

.footer-link i {
  color: lightgray;
  font-size: clamp(22px,4vw,28px);
}

.footer-link i:hover {
  color: gray;
}
