@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  background-color: #212121;
  color: white;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.presentation-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentation-right {
  flex-direction: row-reverse;
}

.presentation-text {
 padding: 20px;
}

.presentation-text p {
  font-size: 40px;
  float: right;
}

.presentation-text h2 {
  text-align: center;
  font-size: 60px;
}

.presentation-div img {
  width: 500px;
}
