.title, .subtitle {
    margin: 20px;
}

.carousel-item img {
    height: 400px;
}

.carousel-item img:hover > .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    border-radius: 30px;
}

.carousel-item p {
    margin-top: 10px;
}