body {
    color: rgb(232, 235, 224) !important;
    background-color: rgb(62, 57, 57);
    text-align: center;
}

/* navbar */

.navbar {
    align-items: center !important;
}

.navbar a {
    font-size: 1.5rem;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.6) !important;
}

.navbar-brand {
    font-size: 2rem !important;
    display: flex;
    align-items: center;
    padding: 14px;
}

/* buttons */

.btn {
    font-size: 1.5rem;
    background-color: rgb(40, 40, 130);
    border-width: 5px;
    border-color: rgb(40, 40, 130);

}
.btn:hover {
    background-color: rgb(32, 32, 107);
    border-width: 5px;
    border-color: rgb(40, 40, 130);
}

/* footer */

footer {
    background-color: rgb(34, 37, 41);
    margin: 20px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}