body {
        font-family: 'Poppins', sans-serif;
        background-color: rgb(30,30,30);
}

header {
	background-color: rgb(20,20,20);
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 5vw;
        line-height: 5vw;
        z-index: 99999;
}

header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width:100%;
        justify-content:center;
}

header li {
        float: left;
}

header li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        padding-left:20px;
        padding-right:20px;
        font-size:2.5vw;
        font-family: 'Roboto', sans-serif;
}

li .hover:hover {
        background-color: rgba(0, 0, 0, 0.3);
}

li .active {
	background-color:blue;
}

a img {
	margin-top:300px;
}

a img:hover {
	cursor: pointer;
}

.center {
	display:flex;
	justify-content:center;
        text-align:center;
}

.center ul {
        list-style-type:none;
}

.center li {
        float:left;
}

h1 {
        text-align: center;
        font-size: 3vw;
        color:white;
}

form {
        float: left;
	color: white;
}
