body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(30,30,30);
}

header {
  background-color: rgb(20,20,20);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vw;
    line-height: 5vw;
    z-index: 99999;
}

ul {
  list-style-type: none;
  margin: 0;l
  padding: 0;
  overflow: hidden;
  width:100%;
  justify-content:center;
}

li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-left:20px;
  padding-right:20px;
  font-size:2.5vw;
  font-family: 'Roboto', sans-serif;
}

li .hover:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

li .active {
  background-color:blue;
}

.articles li {
  margin-top:50px;
  border:3px solid gray;
}

.articles li a {
  color:white;
  font-size:4vw;
  text-decoration:none;
  font-family: 'Poppins', sans-serif;
}
